.vscode/**
.vscode-test/**
build/extension/test/**
coverage/**
dev-docs/**
node_modules/webview/**
node_modules/webview
# build/**/*.map
examples/**
packages/**
.gitignore
tsconfig.json
vitest.config.ts
