body {
  margin: 0;
  padding: 0;
  font-family: var(
    --vscode-markdown-font-family,
    var(
      --markdown-font-family,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe WPC',
      'Segoe UI',
      system-ui,
      'Ubuntu',
      'Droid Sans',
      sans-serif
    )
  );
  font-size: var(--vscode-markdown-font-size, var(--markdown-font-size, 14px));
  line-height: var(
    --vscode-markdown-line-height,
    var(--markdown-line-height, 22px)
  );
  word-wrap: break-word;
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* clickable images for lightbox (both Safe and Trusted mode) */
.mdx-trusted-preview img,
.mdx-safe-preview img {
  cursor: zoom-in;
}
